/* Importação de Fontes */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-weight: 100;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Containers */
.main-container {
  display: flex;
  height: 100%;
  background-color: black;
}

.container_img {
  display: flex;
  width: 80%;
  height: 100vh;
}

.container_form {
  display: flex;
  width: 50%;
  height: fit-content;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: black;
}

.container_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Títulos e Textos */
h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  font-size: 14px;
}

a {
  color: #f01f1a;
}

a:hover {
  text-decoration: underline;
  font-style: italic;
}

/* Campos de Formulário */
.div_nome,
.div_email,
.div_senha,
.div_confirmar_senha,
.div_select {
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.4s;
  font-family: sans-serif;
}

input:focus,
select:focus {
  outline: none;
}

input:hover,
select:hover {
  background-color: #f01f1a;
  color: #fff;
  border: 1px solid transparent;
}

input:hover::placeholder {
  color: #fff;
}

/* Botão */
.button,
button {
  width: 100%;
  padding: 12px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 30px; /* Reduz o espaçamento superior do botão */
  margin-bottom: 10px; /* Ajusta o espaçamento inferior do botão */
  color: #fff;
  background-color: #f01f1a;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #fff;
  color: #f01f1a;
}
.error-message {
  color: #f01f1a; /* Cor da mensagem de erro */
  font-size: 12px; /* Tamanho da fonte */
  margin-top: 5px; /* Espaço acima da mensagem */
  display: none; /* Inicialmente escondido */
}
